<div class="container">
	<section class="orders-section">
		<h1 class="center-align">Мои заказы</h1>
		{{#if orders.length}}
		<div class="orders">
			{{#each orders}}
				<div class="order">
					<div class="card">
						<div class="card-content">
            <span class="card-title">
              Заказ <small>{{_id}}</small>
            </span>
							<p class="date">{{date}}</p>
							<p><em>{{user.userId.name}}</em> ({{user.userId.email}})</p>

							<ol>
								{{#each events}}
									<li>
										{{event.title}} (x<strong>{{count}}</strong>)
									</li>
								{{/each}}
							</ol>

							<hr>

							<p>Цена: <span class="price">{{price}}</span></p>
						</div>
					</div>
				</div>

			{{/each}}
		{{else}}
			<p>Заказов пока нет</p>
		{{/if}}
	</div>
	</section>
</div>
